.app-root {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  .app-header {
    height: 100px;
    margin-left: 40px;
    color: #2E3440;
  }
  .app-body {
    position: relative;
    height: calc(100% - 200px);
    width: 100%;
    .app-textarea-container {
      position: relative;
      .app-textarea-sidebar {
        min-width: 40px;
        height: calc(100% - 6px);
        background: #60656E;
      }
      .app-textarea-holder {
        width: calc(100% - 40px);
        textarea {
          resize: none;
          height: calc(100% - 6px);
          width: 100%;
          font-family: 'Source Code Pro', sans-serif;
          color: white;
          background: #2E3440;
          // custom scrollbar
  
          &::-webkit-scrollbar {
            width: 10px;
          }
  
          &::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 10px 10px green;
            border: solid 3px transparent;
          }
  
          &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 10px 10px #60656E;
            border: solid 3px transparent;
            border-radius: 10px;
          }
        }
      }
      .drag-box {
        position: absolute;
        width: 30px;
        height: 12px;
        background: black;
        bottom: 0;
        left: calc(50% - 20px);
        border-radius: 4px;
        .drag-line {
          background: #60656E;
          height: 1px;
          width: 70%;
        }
      }
    }
    .app-graph {
      width: 100%;
      .app-graph-holder {
        min-width: 50%;
        width: calc(100% - 200px);
        height: 100%;
      }
      .legend-container {
        min-width: 200px;
        .legend-item {
          white-space: nowrap;
          text-transform: capitalize;
          .legend-circle {
            min-height: 13px;
            min-width: 13px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .app-footer {
    height: 100px;
    background: #DDDEE1;
  }
}

