.app-root {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  .app-header {
    height: 100px;
    color: #2E3440
  }
  .app-body {
    position: relative;
    height: calc(100% - 200px);
    width: 100%;
    .app-textarea-holder {
      // height: 30%;
      width: 100%;
      position: relative;
      textarea {
        // resize: vertical;
        resize: none;
        height: calc(100% - 6px);
        width: 100%;
        font-family: 'Source Code Pro', sans-serif;
        color: white;
        background: #2E3440;
      }
      .drag-box {
        position: absolute;
        width: 30px;
        height: 12px;
        background: black;
        bottom: 0;
        left: calc(50% - 20px);
        border-radius: 4px;
        .drag-line {
          background: #60656E;
          height: 1px;
          width: 70%;
        }
      }
    }
    .app-graph {
      // height: 70%;
      width: 100%;
      .app-graph-holder {
        min-width: 50%;
        width: calc(100% - 200px);
        height: 100%;
      }
      // canvas {
      //   max-width: 100%;
      // }
      .legend-container {
        min-width: 200px;
        .legend-item {
          white-space: nowrap;
          .legend-circle {
            min-height: 10px;
            min-width: 10px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .app-footer {
    height: 100px;
    background: #DDDEE1;
  }
}

